<!DOCTYPE html>
<html>

<body>

    <h1>RECUPERACAO DE SENHA - {{username}}</h1>

    <p>Para ativar sua conta você vai precisar clicar o seguinte link</p>
    <a href={{link_ativacao}}>Clique aqui para recuperar sua senha</a>


    <p>A later example will show you how to use JavaScript to display the template content.</p>

</body>

</html>