<!DOCTYPE html>
<html>

<body>

    <h1>The template Tag - FUNCIONANDO O TEMPLATE DE EMAILS</h1>

    <p>Content inside a template tag is hidden from the client.</p>


    <p>A later example will show you how to use JavaScript to display the template content.</p>

</body>

</html>