<!DOCTYPE html>
<html>

<body>

    <h1>Bem Vindo (a), {{username}}</h1>

    <p>Para ativar sua conta você vai precisar clicar o seguinte link</p>
    <p>Link para ativação: {{tokenAtivacao}}</p>


    <p>A later example will show you how to use JavaScript to display the template content.</p>

</body>

</html>